@import url("https://fonts.googleapis.com/css2?family=Titillium+Web:ital@0;1&display=swap");
.ticker-shadow {
  -webkit-box-shadow: 0 3px 15px 1px #2bf8bb;
  -moz-box-shadow: 0 3px 15px 1px #2bf8bb;
  box-shadow: 0 3px 15px 1px #2bf8bb;
}

.navbar-toggler {
  border-color: #88dbc2;
}

.navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 30 30'%3e%3cpath stroke='rgba%28136, 219, 194, 100%29' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e");
}

.nav-link:hover, .nav-link:focus {
  color: #2bf8bb;
}

.menu-anim a {
  padding: 0.5em 0;
  color: rgba(255, 255, 255, 0.5);
  position: relative;
  letter-spacing: 1px;
  text-decoration: none;
}
.menu-anim a:before, .menu-anim a:after {
  position: relative;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu-anim a:before {
  bottom: -30px;
  display: block;
  height: 3px;
  width: 0%;
  content: "";
  background-color: #2bf8bb;
}
.menu-anim a:after {
  left: 0;
  top: 0;
  padding: 0.5em 0;
  position: absolute;
  content: attr(data-hover);
  color: #ffffff;
  white-space: nowrap;
  max-width: 0%;
  overflow: hidden;
}
.menu-anim a:hover:before {
  opacity: 1;
  width: 100%;
}
.menu-anim .menu-anim-a a:before {
  opacity: 1;
  width: 100%;
}
.menu-anim a:hover:after, .menu-anim .menu-anim-a a:after {
  max-width: 100%;
}

.borde-top {
  -webkit-box-shadow: 0 -15px 20px -6px #88dbc2;
  -moz-box-shadow: 0 -15px 20px -6px #88dbc2;
  box-shadow: 0 -15px 20px -6px #88dbc2;
}

.deer-theme-dark .borde-top {
  -webkit-box-shadow: 0 -15px 20px -6px #2bf8bb;
  -moz-box-shadow: 0 -15px 20px -6px #2bf8bb;
  box-shadow: 0 -15px 20px -6px #2bf8bb;
}

.deer-theme h1, .deer-theme h2, .deer-theme h3, .deer-theme h4, .deer-theme h5 {
  color: #88dbc2;
}
.deer-theme p {
  color: #4eaa93;
}

body h1, body h2, body h3, body h4, body h5 {
  color: #88dbc2;
}
body p {
  color: #4eaa93;
}

.deer-theme-dark h1, .deer-theme-dark h2, .deer-theme-dark h3, .deer-theme-dark h4, .deer-theme-dark h5 {
  color: #88dbc2;
}
.deer-theme-dark p {
  color: #4eaa93;
}
.deer-theme-dark .fs-5, .deer-theme-dark .fs-4 {
  color: #2bf8bb;
}

.tabla-css {
  margin-left: auto;
  margin-right: auto;
  min-width: 200px;
  border-collapse: collapse;
}

.tabla-css thead tr {
  background-color: black;
  color: #2bf8bb;
  text-align: center;
}

.tabla-css th,
.tabla-css td {
  padding: 20px 20px;
  text-align: center;
  color: #2bf8bb;
}

.tabla-css tbody tr {
  background-color: black;
  color: #2bf8bb;
}

.btn-tema, .btn-view, .btn-stk, .btn-dwd, .btn-form {
  border: 2px solid #4eaa93;
  color: #88dbc2;
  margin: 0.5em;
  font: inherit;
  line-height: 1;
  transition: 0.25s;
  text-decoration: none;
  background-color: black;
}
.btn-tema:hover, .btn-view:hover, .btn-stk:hover, .btn-dwd:hover, .btn-form:hover {
  border-color: #2bf8bb;
  color: #2bf8bb;
  box-shadow: 0 0.5em 0.5em -0.4em #2bf8bb;
  transform: translateY(-0.25em);
}

.btn-form {
  padding: 1em 2em;
}

.btn-dwd {
  padding: 1em 2.5em;
  display: inline-block;
}

.btn-stk {
  padding: 1em 2.5em;
  display: inline-block;
}

.btn-view {
  padding: 0.25rem 2.5rem;
  margin: 0.2em;
  font-size: 0.95rem;
}

.btn-tema {
  padding: 0.25rem 0.5rem;
  margin: 0.2em;
  font-size: 0.95rem;
}

.deer-theme {
  font-family: "Titillium Web", "Roboto", "IBM Plex Sans", sans-serif;
  color: #88dbc2;
}
.deer-theme nav {
  background-color: black;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}
.deer-theme nav .navbar-brand {
  color: #88dbc2;
  transition: 0.25s;
  text-decoration: none;
}
.deer-theme nav .navbar-brand:hover, .deer-theme nav .navbar-brand:focus {
  color: #2bf8bb;
}
.deer-theme nav button {
  color: #88dbc2;
  background-color: black;
}
.deer-theme nav .active {
  color: #2bf8bb;
}
.deer-theme nav a {
  color: #88dbc2;
}
.deer-theme .form-control {
  border: 2px solid #4eaa93;
  border-radius: 0px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.deer-theme .form-control:focus {
  border-color: #2bf8bb;
  box-shadow: inset 0 1px 1px #88dbc2, 0 0 8px #2bf8bb;
  outline: 0;
}
.deer-theme .card {
  border-radius: 0;
}
.deer-theme a {
  color: #88dbc2;
}
.deer-theme footer {
  background-color: black;
}
.deer-theme footer span {
  color: #24584d;
}

body {
  font-family: "Titillium Web", "Roboto", "IBM Plex Sans", sans-serif;
  color: #4eaa93;
  background-color: white;
  height: 100%;
}
body .navbar {
  background-color: white;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}
body .navbar .navbar-brand {
  color: #4eaa93;
  transition: 0.25s;
  text-decoration: none;
}
body .navbar .navbar-brand:hover, body .navbar .navbar-brand:focus {
  color: #2bf8bb;
}
body .navbar button {
  color: #88dbc2;
  background-color: black;
}
body .navbar .active {
  color: #2bf8bb;
}
body .navbar a {
  color: #88dbc2;
}
body .form-control {
  border: 2px solid #4eaa93;
  border-radius: 0px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
body .form-control:focus {
  border-color: #2bf8bb;
  box-shadow: inset 0 1px 1px #88dbc2, 0 0 8px #2bf8bb;
  outline: 0;
}
body .card {
  border-radius: 0;
}
body a {
  color: #88dbc2;
}
body footer {
  background-color: #88dbc2;
  margin-top: 0.7rem;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
body footer span {
  color: #4eaa93;
}

.deer-theme-dark {
  font-family: "Titillium Web", "Roboto", "IBM Plex Sans", sans-serif;
  color: #4eaa93;
  background-color: black;
  height: 100%;
}
.deer-theme-dark nav {
  background-color: black;
  padding-top: 0.15rem;
  padding-bottom: 0.15rem;
}
.deer-theme-dark nav .navbar-brand {
  color: #4eaa93;
  transition: 0.25s;
  text-decoration: none;
}
.deer-theme-dark nav .navbar-brand:hover, .deer-theme-dark nav .navbar-brand:focus {
  color: #2bf8bb;
}
.deer-theme-dark nav button {
  color: #88dbc2;
  background-color: black;
}
.deer-theme-dark nav .active {
  color: #2bf8bb;
}
.deer-theme-dark nav a {
  color: #88dbc2;
}
.deer-theme-dark .form-control {
  border: 2px solid #4eaa93;
  border-radius: 0px;
  transition: border-color 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}
.deer-theme-dark .form-control:focus {
  border-color: #2bf8bb;
  box-shadow: inset 0 1px 1px #88dbc2, 0 0 8px #2bf8bb;
  outline: 0;
}
.deer-theme-dark .card {
  border-radius: 0;
}
.deer-theme-dark a {
  color: #88dbc2;
}
.deer-theme-dark footer {
  background-color: black;
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.deer-theme-dark footer span {
  color: #4eaa93;
}

.modal-header {
  border-bottom: 1px solid #2bf8bb;
}

.modal-footer {
  border-top: 1px solid #2bf8bb;
}

.logo-crypto {
  border-radius: 50%;
  transition: 0.25s;
  text-decoration: none;
}
.logo-crypto:hover, .logo-crypto:focus {
  box-shadow: 0 0 2em 0em #2bf8bb;
  transform: translateY(-0.5em);
}

.bordes-neon {
  box-shadow: 0 0 15px #2bf8bb;
}

::-webkit-scrollbar {
  width: 15px;
}

::-webkit-scrollbar-track {
  background: lightgray;
}

::-webkit-scrollbar-thumb {
  background: #4eaa93;
}

::-webkit-scrollbar-thumb:hover {
  background: #2bf8bb;
}
/*                                         */
.productIMG {
  height: 247px;
  object-fit: cover;
  object-position: 50% 45%;
}

/* .card{
  min-height: 460px;
} */

/*# sourceMappingURL=style.css.map */
